$color-fiord: #025E4B; // sidenav bg & dark text
$width-sidenav: 240px;

.navList {
    width: $width-sidenav;
    padding: 0;
    margin: 0;
    background-color: $color-fiord;
    list-style-type: none;
}