$color-transparent: rgba(255, 255, 255, .5);
$color-fiord: #394263; // sidenav bg & dark text

.__subheading {
    position: relative;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $color-transparent;
      width: 12px; // Keep spacing consistent
    }

    &-title {
      margin: 0 15px;
    }

    &:after {
      position: absolute;
      content: "";
      height: 6px;
      width: 6px;
      top: 17px;
      right: 25px;
      border-left: 1px solid $color-transparent;
      border-bottom: 1px solid $color-transparent;
      transform: rotate(225deg);
      transition: all .2s;
    }

    &:hover {
      background-color: darken($color-fiord, 5%);
      cursor: pointer;
    }

    &--open {
      background-color: darken($color-fiord, 5%);

      &:after {
        transform: rotate(315deg);
      }
    }
  }